JAXBExample/xslt/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/config"
	xmlns:tns="http://www.example.org/config" elementFormDefault="qualified">
	<element name="Config">
		<complexType>
			<sequence>
				<element name="Id" type="string"></element>
				<element name="Type" type="string"></element>
				<element name="MainServer" type="string"></element>
				<element name="LoadClass" type="string"></element>
				
			</sequence>
		</complexType>
	</element>


	
</schema>